h1{
    color: white; 
    text-align: center;
    margin-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.btnlogin{
    position: relative;
    left: 380px;
    top:180px;
    padding: 10px;
    width: 120px;
}

.btnreg{
    position: relative;
    left: 890px;
    top:120px;
    padding: 10px;
}